In [1]:
import pandas as pd
from datetime import date, timedelta
import matplotlib.pyplot as plt
import mpld3

In [2]:
file_path = "https://www.dhhs.vic.gov.au/ncov-covid-cases-by-age-group-csv"
df = pd.read_csv(file_path)

In [3]:
df.tail()

       diagnosis_date agegroup
662568     2022-02-28      0-9
662569     2022-02-28    30-39
662570     2022-02-28    40-49
662571     2022-02-28   10-19_
662572     2022-02-28   10-19_

In [4]:
df_pivot = pd.pivot_table(df, index = 'diagnosis_date', columns = 'agegroup', 
                         values = 'agegroup', aggfunc = len, fill_value = 0)

In [5]:
df_pivot.tail()

agegroup,0-9,10-19_,20-29,30-39,40-49,50-59,60-69,70-79,80-89,90+
diagnosis_date,,,,,,,,,,
2022-02-24,341,462,362,489,372,192,157,72,30,9
2022-02-25,357,384,280,390,342,194,117,100,34,12
2022-02-26,294,347,244,317,246,173,100,56,21,12
2022-02-27,252,388,200,246,237,131,91,61,38,5
2022-02-28,212,360,202,219,205,125,87,49,23,14

In [6]:
# check that the latest date's sum matches the number of cases reported by Vic govt
# the latest row's date is always yesterday

today = date.today()
yesterday = today - timedelta(days = 1)

# the dates in the pivot table are strings
# so use isoformat() to convert date into string before looking it up in the table
df_pivot.loc[yesterday.isoformat()].sum()

1496

In [7]:
# open my csv containing 0-19 case numbers collected so far

df_0_19 = pd.read_csv("../data/cases_0_19.csv", index_col = 0)
df_0_19.tail()

          date  cases_0_9  cases_10_19
81  2022-02-24        348          444
82  2022-02-25        341          462
83  2022-02-26        357          384
84  2022-02-27        294          347
85  2022-02-28        252          388

In [8]:
# get the latest date from pivot table, add it to my 0-19 csv, then save my csv
# the latest date is always yesterday, because today's cases were diagnosed yesterday

df_0_19 = df_0_19.append({'date': today.isoformat(), 'cases_0_9': df_pivot.loc[yesterday.isoformat(), '0-9'], 
                          'cases_10_19': df_pivot.loc[yesterday.isoformat(), '10-19_']}, ignore_index = True)

In [9]:
df_0_19.tail()

          date  cases_0_9  cases_10_19
82  2022-02-25        341          462
83  2022-02-26        357          384
84  2022-02-27        294          347
85  2022-02-28        252          388
86  2022-03-01        212          360

In [10]:
df_0_19.to_csv("../data/cases_0_19.csv")